.main-sections{
  margin-top:16px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.dashboard-grid-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.main-sections{
  display: flex;
  flex-direction: column;
  gap:28px;
}

.dashboard-grid-right{
 background-color:var(--card-bg); 
 border-radius:16px;
 padding:24px;
}


.dashboard-grid-two {
  display:flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.dashboard-grid-three {
  display: flex;
  gap: 28px;
  width: 100%;
  box-sizing: border-box;
}
.dashboard-grid-right-one{
    flex: 1 1 0%;
}
.dashboard-grid-right-two{
  width:272px;
}

.dashboard-grid-three .dashboard-grid-right{
  padding:24px;
}




