.top-selling-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.top-selling-table th,
.top-selling-table td {
  padding: 8px 0px;
  height: 40px;
  text-align: left;
}

.top-selling-table th {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-low);
  border-bottom: 1px solid var(--border-color);
}

.top-selling-table td {
  color:var(--text-color);
  font-size: 12px;
}
