.top-selling-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.top-selling-table th,
.top-selling-table td {
  padding: 8px 0px;
  height: 40px;
  text-align: left;
}

.top-selling-table th {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-low);
  border-bottom: 1px solid var(--border-color);
}

.top-selling-table td {
  color:var(--text-color);
  font-size: 12px;
}



.top-selling-table th:nth-child(1),
.top-selling-table td:nth-child(1) {
  min-width: 180px; 
}

.top-selling-table th:nth-child(2),
.top-selling-table td:nth-child(2) {
  min-width: 80px; 
}

.top-selling-table th:nth-child(3),
.top-selling-table td:nth-child(3) {
  min-width: 80px; 
}

.top-selling-table th:nth-child(4),
.top-selling-table td:nth-child(4) {
  min-width: 100px; 
}

.table-section{
  overflow-x: auto;
}
