.card {
  border-radius: 16px;
  padding:24px;
  text-align: left;
  height:112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customers-card {
  background-color: #E3F5FF; 
  color:#1C1C1C;
}




.orders-card {
   background-color:var(--card-bg); 
}



.revenue-card {
   background-color:var(--card-bg); 
}

.growth-card {
  background-color: #E5ECF6; 
  color:#1C1C1C;
}


.card-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h3 {
  margin: 0;
  font-size: 14px;
}



.card .value {
  font-size: 24px;
  font-weight:600;
}

.card .change {
  font-size: 12px;
  font-weight:400;
  line-height:18px;
}


