.card {
  background: #E3F5FF;
  border-radius: 16px;
  padding:24px;
  text-align: left;
  height:112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h3 {
  margin: 0;
  font-size: 14px;
  color: #666;
}



.card .value {
  font-size: 24px;
  font-weight: bold;
  margin: 6px 0;
}

.card .change {
  font-size: 12px;
  font-weight: bold;
}

.card .change.up {
  color: green;
}

.card .change.down {
  color: red;
}
