.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height:68px;
  border-bottom: 1px solid #e5e7eb;
  background: #ffffff;
  padding:0px 28px 0px 28px;
}

.navbar .search {
  height:28px;
  padding:0px 8px 0px 8px;
  border-radius: 6px;
  width:160px;
  border:white;
}



.nav-buttons{
  height:28px;
  width:28px;
  background-color: rgb(219, 219, 219);
}

.nav-right-buttons{
  display:flex;
  align-items: center;
  gap:8px;
}

.nav-right-section{
  display: flex;
  align-items: center;
  gap:20px;
}

.nav-left-section{
  display: flex;
  align-items: center;
  gap:8px;
}

.nav-text{
  font-size:16px;
  font-weight:400;
}
